<%- include ('partials/header') -%>

<div class="container logo-container py-5 d-flex justify-content-center">
    <img src="../img/BCF_logo.jpg" class="logo-image" alt="Bright Capital Finance" width="500" height="175">
</div>

<div class="container container-header">



<!-- <header class="jumbotron"> -->
    <div class = "container py-4">
        <!-- <h1 class="display-4">Bright Capital Finance</h1> -->
        
        <!-- <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Lenders</li>
            </ol>
        </nav> -->
        <div class="text-center">
            <h1 class="display-6 existing-lenders" style="color: #4d4d4d; text-underline-position: auto; text-decoration:underline;">Lender Detail</h1>
        </div>
            
            <!-- View Sales -->
      
            <div class="container mb-3 mt-3">
                <form action="/lender/<%= lenderresult.liid %>?_method=PUT" method="POST" method="GET" class="inner-outer-container py-4">
                    <!-- Row 0 of the form  -->
                    <div class="row">
                        <div class="col-lg-12 py-2">
                            <div class="row g-2">
                                <div class="lender-form col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.lendercompany %>"id="floatingInput" placeholder="" name="LenderCompanyName" required>
                                        <label for="floatingInput">Lender Company Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.firstname %>" id="floatingPassword" placeholder="" name="FirstName" required>
                                        <label for="floatingPassword">First Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.lastname %>" id="floatingPassword" placeholder="" name="LastName" required>
                                        <label for="floatingPassword">Last Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.jobtitle %>" id="floatingPassword" placeholder="" required name="JobTitle">
                                        <label for="floatingPassword">Job Title</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.businessphone %>" id="floatingPassword" placeholder="" name="BusinessPhone">
                                        <label for="floatingPassword">Business Phone</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.mobilephone %>" id="floatingPassword" placeholder="" name="MobilePhone" required>
                                        <label for="floatingPassword">Mobile Phone</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.emailaddress %>" id="floatingPassword" placeholder="" name="EmailAddress" required>
                                        <label for="floatingPassword">Email Address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.streetaddress %>" id="floatingPassword" placeholder="" name="StreetAddress" required>
                                        <label for="floatingPassword">Street Address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.city %>" id="floatingPassword" placeholder="" name="City" required>
                                        <label for="floatingPassword">City</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" value="<%= lenderresult.postcode %>" id="floatingPassword" placeholder="" name="PostCode" required>
                                        <label for="floatingPassword">Post Code</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.state %>" id="floatingPassword" placeholder="" name="State" required>
                                        <label for="floatingPassword">State</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" value="<%= lenderresult.country %>" id="floatingPassword" placeholder="" name="Country" required>
                                        <label for="floatingPassword">Country</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" value="<%= lenderresult.minloanlend %>" id="floatingPassword" placeholder="" name="MinimumLoanLend" required>
                                        <label for="floatingPassword">Minimum Loan Lend</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" value="<%= lenderresult.maxloanlend %>" id="floatingPassword" placeholder="" name="MaximumLoanLend" required>
                                        <label for="floatingPassword">Maximum Loan Lend</label>
                                    </div>
    
                                    <div class="col-md-12">
                                        <div class="card-body p-5 mb-3 text-center" style="background-color: #ffffff; border-style: solid; border-width: 1px; border-color: #CED4D9; border-radius: 3px;">
                                            <h4 class="d-flex justify-content-center display-4" style="color: #4d4d4d;">Accepted Areas for Security</h4>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="NSWMetro" value="<%= lenderresult.aas_nswmetro %>" <% if(lenderresult.aas_nswmetro != null){ %> 
                                                     checked <% }%> >
                                                    
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;" style="color: #ffffff;">
                                                NSW Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="NSWRegional" value="<%= lenderresult.aas_nswregional %>" <% if(lenderresult.aas_nswregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                NSW Regional
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="ACT" value="<%= lenderresult.aas_act %>" <% if(lenderresult.aas_act != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                ACT
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="VICMetro" value="<%= lenderresult.aas_vicmetro %>" <% if(lenderresult.aas_vicmetro != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                VIC Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="VICRegional" value="<%= lenderresult.aas_vicregional %>" <% if(lenderresult.aas_vicregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                VIC Regional
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="QLDMetro" value="<%= lenderresult.aas_qldmetro %>" <% if(lenderresult.aas_qldmetro != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                QLD Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="QLDRegional" value="<%= lenderresult.aas_qldregional %>" <% if(lenderresult.aas_qldregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                QLD Regional
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="WAMetro" value="<%= lenderresult.aas_wametro %>" <% if(lenderresult.aas_wametro != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                WA Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="WARegional" value="<%= lenderresult.aas_waaregional %>" <% if(lenderresult.aas_waregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                WA Regional
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="SAMetro" value="<%= lenderresult.aas_sametro %>" <% if(lenderresult.aas_sametro != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                SA Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="SARegional" value="<%= lenderresult.aas_saregional %>" <% if(lenderresult.aas_saregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                SA Regional
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="TASMetro" value="<%= lenderresult.aas_tasmetro %>" <% if(lenderresult.aas_tasmetro != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                TAS Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="TASRegional" value="<%= lenderresult.aas_tasregional %>" <% if(lenderresult.aas_tasregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                TAS Regional
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="NTMetro" value="<%= lenderresult.aas_ntmetro %>" <% if(lenderresult.aas_ntmetro != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                NT Metro
                                                </label>
                                            </div>
                                            <div class="form-check d-flex justify-content-start">
                                                <input class="form-check-input" type="checkbox" id="flexCheckChecked" name="NTRegional" value="<%= lenderresult.aas_ntregional %>" <% if(lenderresult.aas_ntregional != null){ %> 
                                                    checked <% }%> >
                                                <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                NT Regional
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                
                                <div class="col-md-12">
                                    <div class="card-body p-5 mb-3 text-center" style="background-color: #ffffff;">
                                        <h4 class="display-4 d-flex justify-content-center" style="color: #4d4d4d">Type of Loans Offered</h4>
                                        <label class="select-label" for="floatingSelectGrid">Residential Development Construction</label>
                                        <p class="fw-lighter mb-1" >Select all that apply</p>
                                        <select class="form-select mb-3" multiple="multiple" size='3' id="floatingSelectGrid" name="ResidentialDevelopmentConstruction" aria-label="Floating label select example">
                                            <!-- <option disabled>Residential Development Construction</option> -->
                                            <option value="0" name="ResDevConstApartments">Apartments</option>
                                            <option value="1" name="ResDevConstTownhouseVilla">Townhouse/Villa</option>
                                            <option value="2" name="ResDevConstRetirementVillage">Retirement Village</option>
                                          </select>
                                          
                                            <div class="invalid-feedback">
                                              Please select an item(s) from the list
                                            </div>
                                        
                                        <div class="form-check d-flex justify-content-start mb-3">
                                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="ResidualApartmentStock">
                                            <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                            Residual Apartment Stock
                                            </label>
                                        </div>
    
                                        <label class="select-label" for="floatingSelectGrid">Commercial Construction</label>
                                        <p class="fw-lighter mb-1" >Select all that apply</p>
                                        <select class="form-select mb-3" multiple size='4' id="floatingSelectGrid" name="CommercialConstruction" aria-label="Floating label select example">
                                            
                                            <option value="0">Non specialist Construction</option>
                                            <option value="1">Serviced Apartments/Hotel</option>
                                            <option value="2">Student Accomodation</option>
                                            <option value="3">Hostel</option>
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="form-check d-flex justify-content-start mb-3">
                                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="CommercialSitePurchaseRefinance">
                                            <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                            Commercial Site Purchase / Refinance
                                            </label>
                                        </div>
                                        <label class="select-label" for="floatingSelectGrid">Land Subdivision</label>
                                        <p class="fw-lighter mb-1" >Select all that apply</p>
                                        <select class="form-select mb-3" multiple size='2' id="floatingSelectGrid" name="LandSubdivision" aria-label="Floating label select example">
                                            
                                            <option value="0">Residential</option>
                                            <option value="1">Commercial</option>
                                            
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <label class="select-label" for="floatingSelectGrid">Land Purchase / Refinance</label>
                                        <p class="fw-lighter mb-1" >Select all that apply</p>
                                        <select class="form-select mb-3" multiple size='2' id="floatingSelectGrid" name="LandSubdivision1" aria-label="Floating label select example">
                                            
                                            <option value="0">Residential with D.A.</option>
                                            <option value="1">Residential without D.A.</option>
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <label class="select-label" for="floatingSelectGrid">Build To Rent</label>
                                        <p class="fw-lighter mb-1" >Select all that apply</p>
                                        <select class="form-select mb-3" multiple size='3' id="floatingSelectGrid" name="LandSubdivision2" aria-label="Floating label select example">
                                            
                                            <option value="0">Construction</option>
                                            <option value="1">Purchase</option>
                                            <option value="2">Refinance</option>
                                            
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <label class="select-label" for="floatingSelectGrid">NDIS/SDA</label>
                                        <p class="fw-lighter mb-1" >Select all that apply</p>
                                        <select class="form-select mb-3" multiple size='3' id="floatingSelectGrid" name="LandSubdivision3" aria-label="Floating label select example">
                                            
                                            <option value="0">Construction</option>
                                            <option value="1">Purchase</option>
                                            <option value="2">Refinance</option>
                    
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="form-check d-flex justify-content-start">
                                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="SecondMortgages">
                                            <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                            Second Mortgages
                                            </label>
                                        </div>
                                        <div class="form-check d-flex justify-content-start">
                                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="EquityFinance">
                                            <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                            Equity Finance
                                            </label>
                                        </div>
                                        <div class="form-check d-flex justify-content-start">
                                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="MezzanineFinance">
                                            <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                            Mezzanine Finance
                                            </label>
                                        </div>
                                        <div class="form-check d-flex justify-content-start">
                                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="Resources">
                                            <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                            Resources (eg. Mining operations)
                                            </label>
                                        </div>
                                        
                                    </div>
                                </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="button-container text-center">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                    </div>   
                        
                </form>
            </div>
            
             

   </div>        
</div>



<%- include ('partials/footer') -%>