<%- include ('partials/header') -%>



<div class="container container-header">



<!-- <header class="jumbotron"> -->
    <div class = "container py-2">
        <!-- <h1 class="display-4">Bright Capital Finance</h1> -->
        <div class="container py-5 d-flex justify-content-center">
            <img src="../img/BCF_logo.jpg" alt="Bright Capital Finance" width="500" height="175">
        </div>
        <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Lenders</li>
            </ol>
        </nav>
            <h1 class="display-6" style="color: #4d4d4d; text-underline-position: auto; text-decoration:underline;">Existing Lenders</h1>
            
            <!-- View Sales -->
      
                <table class="table table-hover" data-toggle="table" data-pagination="true" data-search="true">
                    <thead>
                        <tr>
                          <th scope="col">Lender Company</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <!-- <th scope="col">Job Title</th> -->
                          <!-- <th scope="col">Email</th> -->
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% lenderresults.forEach(function(lenderresult) { %> 
                            <tr>
                                <td><%= lenderresult.lendercompany %></td>
                                <td><%= lenderresult.firstname %></td>
                                <td><%= lenderresult.lastname %></td>
                                <!-- <td><%= lenderresult.jobtitle %></td> -->
                                <!-- <td><%= lenderresult.email %></td> -->
                                <td>
                                    <a href="/lenders/<%= lenderresult.liid %>" class="btn btn-sm btn-primary">Detail</a>
                                    
                                    <a href="/" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>   
            
             

   </div>        
</div>



<%- include ('partials/footer') -%>